* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 11% 80%;
  gap: 10px;
}

.item1 {
  position: sticky;
  top: 0;
  color: white;
  background-color: tomato;
  padding: 50px 20px 20px 40px;
  height: 40vh;
}

.item2 {
  padding-top: 50px;
  padding-left: 80px;
}

.img-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  margin-right: 0px;
}

.img-items {
  width: 100%;
}

.card-designers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}

.desc {
  padding: 15px;
  background-color: gainsboro;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(9, auto);
  column-gap: 10px;
}

.grid-item {
  background-color: #d3d3d3;
  border-bottom: 1px solid #ececec;
  padding: 20px;
  text-align: center;
  font-size: small;
}
input {
  width: 100%;
}
.contact input[type="submit"] {
  padding: 10px;
  background-color: tomato;
  color: white;
  font-size: small;
  border: none;
}
